.tags {
  &__list {
    // grid-template-columns: repeat(auto-fit, minmax(200px, 360px));
  }
  @include tablet {
    & .grid--4 {
      --gridColumns: 2;
    }
  }
  @include mobile {
    & .grid--4 {
      --gridColumns: 1;
    }
  }

  &__item {
    &-image {
      align-items: center;
      border: 1px solid var(--bc-circle-svg);
      border-radius: 50%;
      display: flex;
      height: 80px;
      justify-content: center;
      width: 80px;
    }
    &-title {
      @include fluid-text(18, 16);
      font-family: var(--font-family-medium);
      margin-top: 20px;
      opacity: 0.7;
    }
  }
}
