@font-face {
  font-display: swap;
  font-family: 'AvenirNextCyr-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'AvenirNextCyr-BoldItalic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'AvenirNextCyr-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'AvenirNextCyr-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'AvenirNext-DemiBold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextCyr-Demi.woff') format('woff');
}
